@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  font-family: 'verdana';
  background-color: white;
  margin: 0px;
  padding-top: 40px;
}

.center-component {
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: white;
}
